
body{

	background-color: rgb(48, 56, 65);
	color:  white;
	font-size: 15px;

	justify-content: center;
}



header,section{

	text-align: center;
	border-bottom: 3px white dashed;

	padding:  20px;
	margin:  20px;
}




table{

	border = 1px solid white;
	width =  100%;

}



#monTableau{

	border: 1px solid white;
	width: 40%;

	flex-direction: column;

}



#zoneData{

	flex-direction: row;

	border: 1px solid white;

	 background-color: red;
}